rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // provide only read access to shared-voicemail widget
    match /sharedVoicemail/{name}{
      allow read;
    }

  }
}    